In [4]:
from time import time
import os
import pandas as pd
from sqlalchemy import create_engine

In [8]:
user="root"
password="root"
host="localhost"
port="5432"
db="ny_taxi"
table_name="yellow_taxi_trips"

In [9]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [27]:
csv_name = "yellow_tripdata_2021-01.csv"
df = pd.read_csv(csv_name)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')
n = 100000
chunks = [df[i:i+n] for i in range(0,df.shape[0],n)]
for chunk in chunks:
    t_start = time()
    chunk.to_sql(name=table_name, con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [5]:
url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
csv_name = "taxi_zone_lookup.csv"
os.system(f"wget {url} -O {csv_name}")

--2022-01-23 00:14:03--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.169.240
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.169.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

     0K .......... ..                                         100% 11.9M=0.001s

2022-01-23 00:14:04 (11.9 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

0

In [6]:
df = pd.read_csv(csv_name)

In [10]:
table_name = "taxi_zone_lookups"

In [12]:
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

In [13]:
df.to_sql(name=table_name, con=engine, if_exists='append')