In [1]:
from time import time

import pandas as pd
from sqlalchemy import create_engine

In [26]:
user="root"
password="root"
host="localhost"
port="5432"
db="ny_taxi"
table_name="yellow_taxi_trips"

In [27]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [5]:
csv_name = "yellow_tripdata_2021-01.csv"

In [17]:
df = pd.read_csv(csv_name)

/Users/admin/.local/share/virtualenvs/de-zoomcamp-gEc_EidF/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [28]:
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')

In [41]:
n = 100000
chunks = [df[i:i+n] for i in range(0,df.shape[0],n)]

In [46]:
for chunk in chunks:
    t_start = time()
    chunk.to_sql(name=table_name, con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 12.868 second
inserted another chunk, took 11.104 second
inserted another chunk, took 12.767 second
inserted another chunk, took 11.965 second
inserted another chunk, took 13.182 second
inserted another chunk, took 13.121 second
inserted another chunk, took 13.532 second
inserted another chunk, took 14.995 second
inserted another chunk, took 15.105 second
inserted another chunk, took 14.188 second
inserted another chunk, took 14.238 second
inserted another chunk, took 15.175 second
inserted another chunk, took 17.379 second
inserted another chunk, took 9.059 second